H7PG8U_0928/LD_konyv.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT konyvek (konyv*)>
	<!ELEMENT konyv (cim, kiadaseve, kiado, szerzo+, abstract)>
		<!ATTLIST konyv id ID #REQUIRED>
		<!ELEMENT cim (#PCDATA)>
		<!ELEMENT kiadaseve (#PCDATA)>
		<!ELEMENT kiado (#PCDATA)>
		<!ELEMENT szerzo (#PCDATA)>
		<!ELEMENT abstract ANY>